<head>
</head>
<body>
 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide carousel-fade">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">

      	<!-- Imagen 1 activa, con link, alto y ancho -->
        <div class="item active">
          <img src="http://lh6.ggpht.com/-RsQPE9Imdn8/UFubpsoU36I/AAAAAAAJKlA/OLK88lKFk0g/s1600/2013-Audi-S3-26%25255B2%25255D.jpg" style="height: 400px; width:600px; margin: 0 auto" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>ASDF</h1>
              <p> ASDF</p>
              <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>
            </div>
          </div>
        </div>
		<!-- Imagen 2 pasivo, con link, medidas y posicionamiento -->
        <div class="item">
          <img src="http://www.wallpaperswala.com/wp-content/gallery/audi-r8-gt/audi-r8-gt-in-garage.jpg" style="height: 400px; width:600px; margin: 0 auto" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <!-- Imagen 3 pasivo, con link, medidas y posicionamiento -->
        <div class="item">
          <img src="http://15pictures.com/wp-content/uploads/2013/04/audi-r8-5.jpg" style="height: 400px; width:600px; margin: 0 auto" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    </body>